body{
background-color: #696969;

}

h1{
  margin-top: 13px;
  color: aliceblue;
}
.btn {
  margin: 13px;
  background-color: greenyellow;
  /*border: 1px solid blueviolet;
  */color: black;
  font-weight: 600;
  border-radius:23px ;
  -webkit-border-radius:23px ;
  -moz-border-radius:23px ;
  -ms-border-radius:23px ;
  -o-border-radius:23px ;
}
@media (max-width: 1023px) {
  .btn {
    width: 12rem;
    font-size: large;
  }
  div{
    display: grid;
    align-items: center;
    justify-content: center;
    
    }

}